
*{
  padding: 50;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width:100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.todo-app{
  width: 200%;
  max-width: 500px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 20px 20px 400px;
  border-radius: 10px;
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.todo-app h2 img{
  width: 20px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

input{
  flex: 1;
  border: none;
  outline:none;
  background: transparent;
  padding: 10px;
}

button{
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 16px 50px;
  background:black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 13px 8px 13px 50px; /* Add padding-left to create space for the circle */
  user-select: none;
  cursor: pointer;
  position: relative; /* Set position to relative to contain the ::before element */
}

ul li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url('images/unchecked.png'); /* this is the picture of the unchecked circle*/
  background-size: cover;
  background-position: center;
  border: 1px solid black; /* Temporary: to check if the ::before element shows up */
  background-color: white; /* Temporary: to make the circle visible if the image doesn’t load */
}
/* Come back to make sure the tick is visible */
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url('images/checked.png');
}
